<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentForm1</title>
    <link rel="stylesheet" href="~/css/StudentDetailForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AddEditForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentForm1.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
